@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-weight: normal;
	font-style: normal;
	src: local("※"), 
	url("../font/notokr-regular.eot"), 
	url("../font/notokr-regular.eot?#iefix") format("embedded-opentype"),
	url("../font/notokr-regular.woff2") format("woff2"), 
	url("../font/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	font-style: normal;
	src: local("※"), 
	url("../font/notokr-medium.eot"), 
	url("../font/notokr-medium.eot?#iefix") format("embedded-opentype"),
	url("../font/notokr-medium.woff2") format("woff2"), 
	url("../font/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	font-style: normal;
	src: local("※"), 
	url("../font/notokr-bold.eot"), 
	url("../font/notokr-bold.eot?#iefix") format("embedded-opentype"),
	url("../font/notokr-bold.woff2") format("woff2"), 
	url("../font/notokr-bold.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 900;
	font-style: normal;
	src: local("※"), 
	url("../font/notokr-black.eot"), 
	url("../font/notokr-black.eot?#iefix") format("embedded-opentype"),
	url("../font/notokr-black.woff2") format("woff2"), 
	url("../font/notokr-black.woff") format("woff");
}

/* Open Sans */
@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src: local("※"), 
	url("../font/opensans-regular.eot"), 
	url("../font/opensans-regular.eot?#iefix") format("embedded-opentype"),
	url("../font/opensans-regular.woff2") format("woff2"), 
	url("../font/opensans-regular.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
	src: local("※"), 
	url("../font/opensans-bold.eot"), 
	url("../font/opensans-bold.eot?#iefix") format("embedded-opentype"),
	url("../font/opensans-bold.woff2") format("woff2"), 
	url("../font/opensans-bold.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:-0.04em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {-webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline; -o-box-sizing:border-box; -ms-box-sizing:border-box;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {-webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; letter-spacing:-0.04em; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-border-radius:0; -moz-border-radius:0; -o-box-sizing:border-box;}
body {position:relative; background:#fff; font-size:14px; line-height:1.8; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
/* input:focus,button:focus {border:none;} */
table {border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#686f75; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea:focus {outline:none;}
em,address,i {font-style:normal;}
:focus {outline:none;}
:invalid {-webkit-box-shadow:none;box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/* 워드프레스 테마 리셋 */
html {overflow-y:scroll; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
#buffer-extension-hover-button,.entry-footer,.skip-link,.post-edit-link,.screen-reader-text,.dropdown-toggle,.site-header svg,.menu-toggle {display:none !important;}
 
@media (max-width:599px) {
    #wpadminbar {position:fixed !important; top:0; left:0; z-index:100000;}
}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

.container {position:relative; max-width:1160px; margin:0 auto; padding:0 30px;}
.container.wide {max-width:1560px;}
.content {margin-top:115px;}

.ie9 {display:table; position:fixed; bottom:0; left:0; z-index:999; width:100%; min-height:100px; padding:5px 60px; background:#163d66; font-size:14px; line-height:2em; color:#fff; text-align:center;}
.ie9 .inner {display:table-cell; vertical-align:middle;}
.ie9 .inner a {font-size:16px; font-weight:700; color:#fff;}
.ie9 button {overflow:hidden; position:absolute; top:20px; right:20px; width:30px; height:30px; /*background:url(../../images/common/img_close_button.png);*/ background:red; text-indent:-9999px;}

@media (max-width:1024px) {
	.content {margin-top:50px;}
}

@media (max-width:599px) {
	.container {padding:0 15px;}
}

/*=========================================================
4. Slick
=========================================================*/

.slick-slider{display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{display:block;overflow:hidden;position:relative;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{display:block;position:relative;top:0;left:0;margin-right:auto;margin-left:auto}.slick-track:after,.slick-track:before{display:table;content:""}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

/*=========================================================
5. 헤더
=========================================================*/

header {position:fixed; top:0; left:0; z-index:10; width:100%; height:115px; padding:45px 0 40px; background:#fff; /*box-shadow:0 0 1px 1px rgba(0,0,0,0.1);*/ border-bottom:1px solid #d5d5d5;}
header:after {display:block; clear:both; content:"";}
header .header_wrap {position:relative;}
header h1 .tit_wrap {float:left;}
header h1 .tit_wrap:after {display:block; clear:both; content:"";}
header h1 .tit_wrap img {float:left;}
header h1 .tit_wrap .part_name {position:relative; margin-top:-2px; margin-left:220px; padding-left:20px; font-size:14px; font-weight:700; line-height:18px; color:#ca0464; text-transform:uppercase;}
header h1 .tit_wrap .part_name:before {position:absolute; top:50%; left:0; width:1px; height:28px; margin-top:-14px; background:#d5d5d5; content:"";}
header .nav_menu {float:right; margin-right:40px;}
header .menu:after {display:block; clear:both; content:"";}
header nav {float:left;}
header nav > ul {margin-top:-2px;}
header nav > ul:after {display:block; clear:both; content:"";}
header nav > ul > li {float:left; position:relative;}
header nav > ul > li > a {display:block; position:relative; padding:0 24px; padding-bottom:33px; font-size:20px; font-weight:500; line-height:39px; color:#333; -webkit-transition:all 0.3s; transition:all 0.3s;}
header nav > ul > li > a:before {position:absolute; bottom:33px; left:50%; width:calc(100% - 28px); height:2px; background:#ca0464; -webkit-transform:translateX(-50%) scaleX(0); transform:translateX(-50%) scaleX(0); -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
header nav > ul > li[class*='current'] > a,
header nav > ul > li:hover > a {color:#ca0464;}
header nav > ul > li[class*='current'] > a:before,
header nav > ul > li:hover > a:before {-webkit-transform:translateX(-50%) scaleX(1);transform:translateX(-50%) scaleX(1);}

header nav .sub-menu {visibility:hidden; position:absolute; left:50%; width:200px; height:auto; margin-top:-1px; padding:0 20px; border:1px solid #d5d5d5; background:#fff; -webkit-transform:translateX(-50%) scaleY(0); transform:translateX(-50%) scaleY(0); -webkit-transform-origin:top; transform-origin:top; -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0;}
header nav > ul > li:hover .sub-menu {visibility:visible; -webkit-transform:translateX(-50%) scaleY(1); transform:translateX(-50%) scaleY(1); opacity:1;}
header nav .sub-menu li a {display:block; position:relative; padding:10px 0; border-bottom:1px solid #d5d5d5; font-size:16px; line-height:25px; color:#555; -webkit-transition:all 0.3s; transition:all 0.3s;}
header nav .sub-menu li:last-child a {border:0;}
header nav .sub-menu li[class*='current'] a,
header nav .sub-menu li a:hover {font-weight:500; color:#ca0464;}
header nav .sub-menu li a:after {position:absolute; top:18px; right:2px; width:6px; height:6px; border-top:2px solid #d5d5d5; border-right:2px solid #d5d5d5; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
header nav .sub-menu li[class*='current'] a:after,
header nav .sub-menu li a:hover:after {right:-3px; border-color:#ca0464;}

header .top_menu {float:right; position:relative; padding:5px 0 5px 20px; font-size:0;}
header .top_menu:before {position:absolute; top:2px; left:0; width:1px; height:30px; background:#d5d5d5; content:"";}
header .top_menu a {display:inline-block; margin-right:10px; padding:0 12px; border:1px solid #fff; font-family:"Open Sans"; font-size:13px; line-height:23px; color:#999; -webkit-transition:all 0.3s; transition:all 0.3s;}
header .top_menu a.lang {margin-right:20px; border-color:#ccc;}
header .top_menu a:hover {border-color:#ca0464; background:#ca0464; color:#fff;}
header .search {position:absolute; top:0; right:30px; text-align:right;}
header .search button {position:relative; width:20px; height:23px; margin-top:6px; text-indent:-9999px; vertical-align:top;}
header .search button:before,header .search button:after {position:absolute; content:"";}
header .search button:before {right:0; bottom:2px; width:2px; height:15px; background:#999; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); -webkit-transform-origin:right bottom; transform-origin:right bottom;}
header .search button:after {top:0; left:0; width:14px; height:14px; border:2px solid #999; border-radius:50%; background:#fff;}
header .search button.on:before {background:#ca0464;}
header .search button.on:after {border-color:#ca0464;}
header .search input[type="text"] {position:absolute; top:0; right:26px; width:180px; padding:0 10px; border:1px solid #ca0464; background:#fff; font-size:14px; line-height:33px; -webkit-transform:scaleX(0); transform:scaleX(0); -webkit-transform-origin:right; transform-origin:right; -webkit-transition:all 0.2s; transition:all 0.2s;}
header .search button.on + input[type="text"] {-webkit-transform:scaleX(1);transform:scaleX(1);}

@media (max-width:1280px) {
	header h1 .tit_wrap img {width:160px; margin-top:-15px;}
	header h1 .tit_wrap .part_name {margin:0; margin-top:15px; padding:0; font-size:12px; line-height:1.3em;}
	header h1 .tit_wrap .part_name:before {display:none;}
}

@media (max-width:1024px) {
	header {height:50px; padding:10px 0; text-align:center;}
	header h1 {display:inline-block;}
	header h1 .tit_wrap {float:none; line-height:0;}
	header h1 .tit_wrap img {float:none; width:100px; margin:0;}
	header h1 .tit_wrap .part_name {display:block; margin:0; margin-top:5px; font-size:10px;}
	header h1 .tit_wrap .part_name br {display:none;}
	header .open_menu {position:absolute; top:0; left:30px; width:20px; height:24px; margin-top:3px; text-indent:-9999px;}
	header .open_menu span {position:absolute; left:0; width:20px; height:2px; background:#ca0464;}
	header .open_menu span:nth-child(1) {top:3px;}
	header .open_menu span:nth-child(2) {top:50%; margin-top:-1px;}
	header .open_menu span:nth-child(3) {bottom:3px;}
	header .menu_wrap {visibility:hidden; position:fixed; top:0; left:0; z-index:999; width:100%; height:100%; background:rgba(0,0,0,0.5); opacity:0; -webkit-backface-visibility:hidden;}
	header .menu_wrap.on {visibility:visible; opacity:1; -webkit-transition:all 0.3s; transition:all 0.3s;}
	header .nav_menu {float:none; position:relative; width:50%; min-width:290px; height:100vh; background:#fff; -webkit-transform:translateX(-100%); transform:translateX(-100%);}
	header .menu_wrap.on .nav_menu {-webkit-transform:translateX(0);transform:translateX(0); -webkit-transition:-webkit-transform 0.3s; transition:-webkit-transform 0.3s; transition:transform 0.3s; transition:transform 0.3s, -webkit-transform 0.3s;}
	header .nav_menu .close_menu {overflow:hidden; position:absolute; top:0; right:-30px; width:30px; height:30px; text-indent:-9999px; -webkit-transform:scale(0.8); transform:scale(0.8);}
	header .nav_menu .close_menu:before,
	header .nav_menu .close_menu:after {position:absolute; left:-1px; width:2px; height:50px; background:#fff; content:"";}
	header .nav_menu .close_menu:before {top:0; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); -webkit-transform-origin:left top; transform-origin:left top;}
	header .nav_menu .close_menu:after {bottom:0; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transform-origin:left bottom; transform-origin:left bottom;}
	header nav,
	header nav > ul > li {float:none; text-align:left;}
	header nav {padding:10px 30px;}
	header nav > ul {margin:0;}
	header nav > ul > li > a {font-size:16px; line-height:2em; padding:0;}
	header nav > ul > li > a:before {display:none !important;}
	header nav > ul > li:hover > a:before {display:none;}
	header nav .menu > li {position:relative; border-bottom:1px solid #d5d5d5;}
	header nav .menu > li:last-child {border:0;}
	header nav .menu > li:before,
	header nav .menu > li:after {position:absolute; top:1em; right:0; width:10px; height:2px; background:#ca0464; content:"";}
	header nav .menu > li:after {-webkit-transform:rotate(90deg);transform:rotate(90deg); -webkit-transition:all 0.3s; transition:all 0.3s;}
	header nav .menu > li.on:after {-webkit-transform:rotate(0);transform:rotate(0);}

	header nav .sub-menu {display:none; visibility:visible; position:static; width:auto; margin:0; margin-bottom:10px; padding:5px 10px; background:#f3f1ee; -webkit-transform:none !important; transform:none !important; -webkit-transition:none !important; transition:none !important; opacity:1;}
	header nav .sub-menu li a {padding:5px 0; font-size:14px; font-weight:400; line-height:1.5em;}
	header nav .sub-menu li a:after {display:none;}
	header nav .sub-menu li a:hover {font-weight:400;}

	header .top_menu {float:none; position:absolute; bottom:15px; left:0; width:100%; padding:0 30px;}
	header .top_menu:before {display:none;}
	header .top_menu a {border-color:#ccc;}
	header .search button {margin-top:3px;}
	header .search input[type="text"] {line-height:28px; width:calc(100vw - 100px);}
}

@media (max-width:599px) {
	header nav {padding:10px 15px;}
	header .open_menu {left:15px;}
	header .search {right:15px;}
	header .search input[type="text"] {width:calc(100vw - 70px);}
}

/*=========================================================
6. 푸터
=========================================================*/

footer {position:relative; background:#f3f0eb;}
footer:before {position:absolute; top:0; left:0; z-index:0; width:100%; height:50px; background:#bba078; content:"";}
footer .lower_gnb {position:relative; z-index:1;}
footer .lower_gnb a {display:block; text-align:center; -webkit-transition:all 0.3s; transition:all 0.3s;}
footer .lower_gnb > ul {overflow:hidden;}
footer .lower_gnb > ul > li {float:left; position:relative; width:16.66%;}
footer .lower_gnb > ul > li:after {position:absolute; top:17px; right:0; width:1px; height:16px; background:rgba(255,255,255,0.4); content:"";}
footer .lower_gnb > ul > li:last-child:after {display:none;}
footer .lower_gnb > ul > li > a {padding:9px 0; font-size:19px; font-weight:500; line-height:32px; color:#fff;}
footer .lower_gnb > ul > li > a:hover {color:#333;}
footer .lower_gnb .sub-menu {padding:20px 0 40px;}
footer .lower_gnb .sub-menu > li > a {padding:6px 0; font-size:14px; line-height:20px; color:#555;}
footer .lower_gnb .sub-menu > li > a:hover {font-weight:700; color:#bba078;}
footer .info {padding:35px 0 45px; background:#fff;}
footer .info .footer_wrap {position:relative;}
footer .info img {float:left; margin-top:25px;}
footer .info .txt_wrap {margin-left:240px; font-size:13px; line-height:24px;}
footer .info .txt_wrap address {color:#a98147;}
footer .info .txt_wrap address a {color:inherit;}
footer .info .txt_wrap .copyright {margin-top:5px; font-size:11px; color:#999;}
footer .info .sns {position:absolute; top:25px; right:0;}
footer .info .sns li {float:left; width:20px; margin-left:10px;}
footer .info .sns li:first-child {margin:0;}
footer .info .sns li a {display:block; background:red; line-height:20px; text-indent:-9999px;}

@media (max-width:1024px) {
	footer:before {display:none;}
	footer .info {padding:30px 0; background:#f3f0eb;}
	footer .info img {float:none; margin:0; width:101px;}
	footer .info .txt_wrap {margin:0; font-size:12px; line-height:1.5em;}
	footer .info .txt_wrap .copyright {font-size:10px;}
	footer .info .sns {top:0;}
}

@media (max-width:599px) {
	footer {text-align:center;}
	footer .info {padding:15px 0;}
	footer .info .footer_wrap {padding-top:30px;}
	footer .info .sns {right:auto; left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
}

/*=========================================================
7. 모달
=========================================================*/

/*=========================================================
8. 메인 페이지 스타일
=========================================================*/

/* 메인 페이지 공통 */
.main_page h2 {margin-top:-5px; font-family:"Open Sans"; font-size:30px; font-weight:700; line-height:30px; letter-spacing:0; text-transform:uppercase;}
.main_page a.more {display:inline-block; position:relative; padding-right:12px; font-size:14px; line-height:1.5em; color:#999; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_page a.more:after {position:absolute; top:5px; right:2px; width:6px; height:6px; border-top:1px solid #999; border-right:1px solid #999; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
.main_page a.more:hover {color:#ca0464;}
.main_page a.more:hover:after {right:-3px; border-color:#ca0464;}

@media (max-width:1024px) {
	.main_page h2 {font-size:24px; margin:0;}
}

@media (max-width:599px) {
	.main_page h2 {font-size:20px;}
	.main_page a.more {font-size:12px;}
	.main_page a.more:after {top:4px;}
}

/* 메인 비주얼 슬라이드 */
.main_page .main_visual .slider {position:relative;}
.main_page .main_visual [slide] .slide {height:725px; padding-top:135px; background-position:center; background-size:cover; color:#fff;}
.main_page .main_visual [slide] .sub_txt {font-size:40px; line-height:1.35em; -webkit-animation-delay:1s; animation-delay:1s; opacity:0;}
.main_page .main_visual [slide] strong {display:block; margin-top:10px; font-size:52px; font-weight:700; line-height:1.25em; -webkit-animation-delay:1.5s; animation-delay:1.5s; opacity:0;}
.main_page .main_visual [slide] .slick-active .sub_txt,
.main_page .main_visual [slide] .slick-active strong {-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;}
.main_page .main_visual [slide] .slick-arrow {position:absolute; top:50%; z-index:1; width:58px; height:58px; margin-top:-30px; border:1px solid #fff; border-radius:50%; text-indent:-9999px; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_page .main_visual [slide] .slick-arrow:hover {background:#fff;}
.main_page .main_visual [slide] .slick-arrow:before {position:absolute; top:50%; left:50%; width:6px; height:6px; margin:-4px 0 0 -4px; border-top:2px solid #fff; border-right:2px solid #fff; -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
.main_page .main_visual [slide] .slick-arrow:hover:before {border-color:#ca0464;}
.main_page .main_visual [slide] .slick-prev {left:50px;}
.main_page .main_visual [slide] .slick-prev:before {margin-left:-3px; -webkit-transform:rotate(-135deg); transform:rotate(-135deg);}
.main_page .main_visual [slide] .slick-next {right:50px;}
.main_page .main_visual [slide] .slick-next:before {margin-left:-5px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.main_page .main_visual .progress {position:absolute; top:455px; left:0; width:100%; font-size:14px; color:#fff;}
.main_page .main_visual .progress .bar {position:relative; width:300px; border-bottom:1px solid rgba(255,255,255,0.3);}
.main_page .main_visual .progress .bar:before {position:absolute; bottom:-1px; left:0; width:100%; height:1px; background:#fff; -webkit-transform:scaleX(0); transform:scaleX(0); -webkit-transform-origin:left; transform-origin:left; content:"";}
.main_page .main_visual .progress.on .bar:before {-webkit-transform:scaleX(1);transform:scaleX(1); -webkit-transition:-webkit-transform 5s linear; transition:-webkit-transform 5s linear; transition:transform 5s linear; transition:transform 5s linear, -webkit-transform 5s linear;}
.main_page .main_visual .progress span {display:inline-block; line-height:3em;}

.main_page .main_visual .news {margin-bottom:-150px; -webkit-transform:translateY(-100%); transform:translateY(-100%);}
.main_page .main_visual .news ul {overflow:hidden; height:150px; background:rgba(0,0,0,0.8);}
.main_page .main_visual .news ul li {float:left; position:relative; width:33.33%; padding:30px; padding-bottom:35px;}
.main_page .main_visual .news ul li:after {position:absolute; top:50%; right:0; width:1px; height:100px; margin-top:-50px; background:rgba(255,255,255,0.25); content:"";}
.main_page .main_visual .news ul li:last-child:after {display:none;}
.main_page .main_visual .news ul li a {display:block;}
.main_page .main_visual .news ul li .cate {display:block; overflow:hidden; font-size:14px; line-height:1.5em; color:#a98147; text-overflow:ellipsis; white-space:nowrap;}
.main_page .main_visual .news ul li .txt {overflow:hidden; max-height:3.25em; margin-top:12px; font-size:16px; font-weight:500; line-height:1.625em; color:#fff; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_page .main_visual .news ul li a:hover .txt {color:#ca0464;}

@media (max-width:1024px) {
	.main_page .main_visual [slide] .slide {text-align:center; height:300px; padding-top:60px;}
	.main_page .main_visual [slide] .sub_txt {font-size:30px;}
	.main_page .main_visual [slide] strong {font-size:40px;}
	.main_page .main_visual [slide] .slick-active .sub_txt,
	.main_page .main_visual [slide] .slick-active strong {-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
	.main_page .main_visual [slide] .slick-arrow {width:28px; height:28px; margin-top:-15px;}
	.main_page .main_visual [slide] .slick-prev {left:30px;}
	.main_page .main_visual [slide] .slick-next {right:30px;}
	.main_page .main_visual .progress {top:auto; bottom:30px; left:50%; width:auto; font-size:12px; text-align:center; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
	.main_page .main_visual .progress span {line-height:2em;}
	.main_page .main_visual .progress .bar {width:100px;}

	.main_page .main_visual .news {position:relative; margin:0; -webkit-transform:none; transform:none; background:#f3f1ee;}
	.main_page .main_visual .news ul {height:auto; margin:0 -15px; padding:15px 0; background:none;}
	.main_page .main_visual .news ul li {padding:15px;}
	.main_page .main_visual .news ul li .cate {font-size:12px;}
	.main_page .main_visual .news ul li .txt {font-size:14px; color:#333;}
}

@media (max-width:599px) {
	.main_page .main_visual [slide] .slide {text-align:center; height:200px; padding-top:50px;}
	.main_page .main_visual [slide] .sub_txt {font-size:20px;}
	.main_page .main_visual [slide] strong {font-size:30px;}
	.main_page .main_visual [slide] .slick-prev {left:15px;}
	.main_page .main_visual [slide] .slick-next {right:15px;}
	.main_page .main_visual .progress {display:none;}

	.main_page .main_visual .news ul {padding:0 15px;}
	.main_page .main_visual .news ul li {width:100%; padding:15px 0; border-bottom:1px solid rgba(0,0,0,0.25);}
	.main_page .main_visual .news ul li:last-child {border:0;}
	.main_page .main_visual .news ul li:after {display:none;}
}

/* 공지사항 */
.main_page .notice {overflow:hidden; padding:50px 0 110px;}
.main_page .notice .list_wrap {float:left; position:relative; width:calc(100% - 440px);}
.main_page .notice .list_wrap ul {margin-top:15px; border-top:2px solid #333;}
.main_page .notice .list_wrap ul li {overflow:hidden; padding:0 20px; border-bottom:1px solid #d5d5d5;}
.main_page .notice .list_wrap ul li a {display:block;}
.main_page .notice .list_wrap ul li .date {float:left; position:relative; width:40px; height:78px; margin-right:20px; padding-top:45px; font-size:14px; font-weight:700; line-height:20px; color:#999; text-align:center;}
.main_page .notice .list_wrap ul li .date strong {position:absolute; top:15px; left:0; width:100%; font-size:30px; font-weight:700; line-height:1em; color:#333;}
.main_page .notice .list_wrap ul li .tit {overflow:hidden; float:left; width:calc(100% - 60px); font-size:15px; font-weight:500; line-height:78px; color:#333; text-overflow:ellipsis; white-space:nowrap; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_page .notice .list_wrap ul li a:hover .tit {color:#ca0464;}
.main_page .notice .list_wrap a.more {position:absolute; right:0; top:0;}
.main_page .notice .slide_wrap {float:left; position:relative; width:356px; margin-left:84px;}
.main_page .notice [slide] .slide {position:relative; height:360px; background-position:center; background-size:cover;}
.main_page .notice [slide] .slide a {display:block;}
.main_page .notice [slide] .slide .txt_wrap {position:absolute; bottom:25px; left:30px; width:calc(100% - 60px); color:#fff;}
.main_page .notice [slide] .slide .txt_wrap:before {position:absolute; top:-66px; left:0; width:1px; height:50px; background:#fff; content:"";}
.main_page .notice [slide] .slide .sub_txt {overflow:hidden; font-size:14px; line-height:1.5em; text-overflow:ellipsis; white-space:nowrap;}
.main_page .notice [slide] .slide .tit {overflow:hidden; max-height:2.8em; margin-top:5px; font-size:24px; font-weight:700; line-height:1.4em;}
.main_page .notice [slide] .slick-dots {overflow:hidden; position:absolute; top:30px; right:30px; line-height:0;}
.main_page .notice [slide] .slick-dots li {float:left; margin-right:10px;}
.main_page .notice [slide] .slick-dots li:last-child {margin:0;}
.main_page .notice [slide] .slick-dots li button {width:8px; height:8px; border:1px solid #fff; border-radius:50%; text-indent:-9999px;}
.main_page .notice [slide] .slick-dots .slick-active button {background:#fff;}

@media (max-width:1024px) {
	.main_page .notice {padding:30px 0;}
	.main_page .notice .list_wrap {width:calc(60% - 30px);}
	.main_page .notice .list_wrap ul li {padding:0;}
	.main_page .main_visual .news ul li:after {background:rgba(0,0,0,0.25);}
	.main_page .notice .list_wrap ul li .date {height:50px; margin-right:10px; padding-top:25px; font-size:12px;}
	.main_page .notice .list_wrap ul li .date strong {top:10px; font-size:20px;}
	.main_page .notice .list_wrap ul li .tit {width:calc(100% - 50px); font-size:14px; line-height:50px;}
	.main_page .notice .list_wrap a.more {top:5px;}
	.main_page .notice .slide_wrap {width:calc(40%); margin-left:30px;}
	.main_page .notice [slide] .slide {height:250px;}
	.main_page .notice [slide] .slide .tit {font-size:18px;}
	.main_page .notice [slide] .slick-dots li button {width:15px; height:15px;}
}

@media (max-width:599px) {
	.main_page .notice .list_wrap {width:100%;}
	.main_page .notice .list_wrap a.more {top:5px;}
	.main_page .notice .slide_wrap {width:calc(100% + 30px); margin:0; margin-left:-15px; margin-top:30px;}
	.main_page .notice [slide] .slide .txt_wrap {bottom:15px; left:15px; width:calc(100% - 30px);}
	.main_page .notice [slide] .slide .sub_txt {font-size:12px;}
	.main_page .notice [slide] .slide .tit {font-size:16px;}
	.main_page .notice [slide] .slick-dots {top:15px; right:15px;}
}

/* 세미나 */
.main_page .seminar {padding:80px 0 50px; background:#f3f1ee;}
.main_page .seminar .list_wrap {position:relative;}
.main_page .seminar .list_wrap:after {display:block; clear:both; content:"";}
.main_page .seminar .list_wrap .tit_wrap {float:left; width:356px; height:415px; margin-right:16px; padding:25px 30px; background:url(../img/bg/bg_seminar_tit.png); background-position:center; color:#fff;}
.main_page .seminar .list_wrap .tit_wrap h2 {margin:0;}
.main_page .seminar .list_wrap .tit_wrap .sub_txt {margin-top:18px; font-size:14px; line-height:1.85em;}
.main_page .seminar .list_wrap ul {overflow:hidden; float:left; width:calc(100% - 356px); margin:-8px;}
.main_page .seminar .list_wrap ul li {float:left; width:50%; padding:8px; font-weight:700; text-align:left;}
.main_page .seminar .list_wrap ul li a {display:block; position:relative; width:100%; height:200px; padding:50px 30px 20px; background:#fff;}
.main_page .seminar .list_wrap ul li a:after {visibility:hidden; position:absolute; top:0; left:0; -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; height:100%; border:2px solid #ca0464; -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0; content:"";}
.main_page .seminar .list_wrap ul li a:hover:after {visibility:visible; opacity:1;}
.main_page .seminar .list_wrap ul li .date {font-family:"Open Sans"; font-size:16px; font-weight:700; color:#999;}
.main_page .seminar .list_wrap ul li .tit {overflow:hidden; height:3.9em; margin-top:5px; font-family:"Open Sans"; font-size:24px; line-height:1.3em; color:#333; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_page .seminar .list_wrap ul li a:hover .tit {color:#ca0464;}
.main_page .seminar .list_wrap .more {position:absolute; top:-35px; right:0;}

@media (max-width:1024px) {
	.main_page .seminar {padding:30px 0;}
	.main_page .seminar .list_wrap .tit_wrap {float:none; width:auto; height:auto; margin:0; margin-bottom:15px; padding:0; background:none; color:#333;}
	.main_page .seminar .list_wrap .tit_wrap .sub_txt {margin:0;}
	.main_page .seminar .list_wrap .tit_wrap .sub_txt br {display:none;}
	.main_page .seminar .list_wrap ul {float:none; width:calc(100% + 16px);}
	.main_page .seminar .list_wrap ul li a {height:140px; padding:15px;}
	.main_page .seminar .list_wrap ul li .date {font-size:14px;}
	.main_page .seminar .list_wrap ul li .tit {font-size:20px;}
	.main_page .seminar .list_wrap .more {top:5px;}
}

@media (max-width:599px) {
	.main_page .seminar .sub_txt {font-size:14px;}
	.main_page .seminar .list_wrap .tit_wrap .sub_txt {font-size:12px;}
	.main_page .seminar .list_wrap ul li {width:100%;}
	.main_page .seminar .list_wrap ul li a {height:auto; padding:15px;}
	.main_page .seminar .list_wrap ul li .date {font-size:12px;}
	.main_page .seminar .list_wrap ul li .tit {font-size:16px; height:auto;}
}

/* 갤러리 */
.main_page .gallery {padding:70px 0 100px;}
.main_page .gallery .list_wrap {position:relative;}
.main_page .gallery .list_wrap:after {display:block; clear:both; content:"";}
.main_page .gallery .list_wrap ul {overflow:hidden; margin:-8px; margin-top:15px;}
.main_page .gallery .list_wrap ul li {float:left; width:25%; padding:8px;}
.main_page .gallery .list_wrap ul li a {display:block; overflow:hidden; position:relative; height:195px; background-position:center; background-size:cover;}
.main_page .gallery .list_wrap ul li .info {position:absolute; top:115px; left:0; z-index:0; width:100%; padding:5px 20px 10px; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_page .gallery .list_wrap ul li .info:before {position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; background:rgba(0,0,0,0.7); -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
.main_page .gallery .list_wrap ul li a:hover .info {top:0; height:100%; padding:15px; padding-top:60px; text-align:center;}
.main_page .gallery .list_wrap ul li .info .tit {overflow:hidden; font-size:16px; font-weight:500; color:#fff; text-overflow:ellipsis; white-space:nowrap;}
.main_page .gallery .list_wrap ul li a:hover .info .tit {max-height:4.5em; font-size:1.2em; font-weight:700; line-height:1.5em; text-overflow:clip; white-space:normal;}
.main_page .gallery .list_wrap ul li .info .date {display:inline-block; position:relative; margin-top:7px; padding-left:20px; line-height:14px; color:#999;}
.main_page .gallery .list_wrap ul li .info .date:before,.main_page .gallery .list_wrap ul li .info .date:after {position:absolute; content:"";}
.main_page .gallery .list_wrap ul li .info .date:before {top:0; left:0; width:12px; height:12px; border:1px solid #999; border-radius:50%;}
.main_page .gallery .list_wrap ul li .info .date:after {top:3px; left:6px; width:4px; height:4px; border-bottom:1px solid #999; border-left:1px solid #999;}
.main_page .gallery .list_wrap .more {position:absolute; top:-40px; right:0;}

@media (max-width:1024px) {
	.main_page .gallery {padding:30px 0;}
	.main_page .gallery .list_wrap ul li {width:50%;}
	.main_page .gallery .list_wrap ul li .info {bottom:15px; padding:5px 15px;}
	.main_page .gallery .list_wrap ul li .info .tit {font-size:14px;}
	.main_page .gallery .list_wrap ul li .info .date {margin-top:0;}
}

@media (max-width:599px) {
	.main_page .gallery .list_wrap ul li {width:100%;}
}

/*=========================================================
9. 서브 페이지 스타일
=========================================================*/

/*=========================================================
10. animate
=========================================================*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

.fadeInUp {-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.fadeInLeft {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.fadeInRight {-webkit-animation-name:fadeInRight; animation-name:fadeInRight;}
.wait-animation {opacity:0; -webkit-animation-play-state:paused; animation-play-state:paused;}
.animated {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both;}